@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family-merri: "Merriweather", serif;
}

.nav-button {
  @apply text-white font-sans text-2xl hover:underline px-4;
}

.nav-button-mobile {
  @apply text-gray-600 font-sans text-lg hover:underline px-4 block;
}

button:hover {
  @apply hover:cursor-pointer;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

.section-container {
  @apply w-full min-h-screen flex justify-evenly pt-20 pb-20;
}


@keyframes pulseAnimate {
  100% {
    opacity: .2;
    transform: scale(1.2);
  }
  0% {
    opacity: .2;
    transform: scale(1.1);
  }

}
